.layout {
    padding: 1.25rem;
    background-color: var(--ct-background-primary);
    min-height: fit-content;
    overflow-y: scroll;
    box-sizing: border-box;
}

.authTopHead {
    color: var(--ct-primary-color);
    font-weight: 600;
    font-size: 1.3125rem;
    margin-bottom: 8px;
}

.authBottomHead {
    color: var(--ct-secondary-color);
    margin-bottom: 24px;
}

.authIconHolder {
   background: #f8f9fa
}

.authInput {
    padding: .5rem 1rem;
    font-size: inherit;
    width: 320px;
    border: 1px solid var(--ct-border-color);
    outline: none;
}

.authCheckBox {
    color: var(--ct-secondary-color);
    background-color: var(--ct-form-check-bg);
    border-color: var(--ct-form-check-bg)
}

.authCheckBox:active {
    background-color: var(--ct-form-check-bg);
    border-color: var(--ct-form-check-bg);
}

.authSubmitBtn{
    border: none;
    color: var(--ct-white);
    background: var(--ct-btn-bg);
    /* transition: .3 ease background; */
}

.authSubmitBtn:hover{
    background: var(--ct-btn-hover-bg);
}
