@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-primary: #F7F7FF;
}

/* @media (prefers-color-scheme: dark) {
  :root {
  }
} */

body {
  padding: 0;
  margin: 0;
  font-family: 'Public Sans'
}
