@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --ct-background-primary: #F7F7FF;
  --ct-form-check-bg: #f7f7ff;
  --ct-btn-bg: #7269ef;
  --ct-btn-hover-bg: #6159cb;

  --ct--dark: #343a40;
  --ct-grey-light: #7a7f9a;

  --ct-white: #fff;
  --ct-primary-rgb: 114, 105, 239;
  --ct-primary-color: #343a40;
  --ct-secondary-color: #7a7f9a;
  --ct-border-color: #f0eff5;

}

/* @media (prefers-color-scheme: dark) {
  :root {
  }
} */

html {
  font-family: var(--font-public-sans)
}

body {
  padding: 0;
  margin: 0;
  font-size: 16px;
}
